#container {
    text-align: center;
}

#virgencita {
    width: 100%;
    height: auto;
    max-width: 500px;
    padding: 5%;
}

footer{
    text-align: left;
    a{
        color: #000;
    }
}
