* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    transition: all 0.2s ease;
}

#container {
    text-align: center;
    max-width: 650px;
}

#virgencita {
    width: 100%;
    height: auto;
    max-width: 500px;
    padding: 5%;
}

footer {
    font-size: 0.9rem;
    text-align: left;
    padding-top: 6%;

    a {
        color: #000;
    }
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.summary {
    padding-bottom: 5%;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    #tabla {
        .data {
            font-size: 1.1rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        h4 {
            font-size: 1.1rem;
        }

        font-size: 1.1rem;
    }
}

#info {
    display: flex;
    justify-content: space-evenly;
}

#tabla {
    td {
        display: flex;
    }
}

#tabla {
    .data {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    font-size: 1.3rem;
}

.temp-value {
    font-size: 4rem;
}

.data {
    font-size: 1.5rem;
    position: relative;
    top: 10px;
    font-weight: bold;
}
